@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
    --light-gray-cyan: hsl(185, 41%, 84%);
    --white-color: hsl(0,0%, 100%);
    --dark-gray-cyan: hsl(186, 14%, 43%);
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --very-light-gray-cyan: hsl(189, 41%, 97%);
    --gray-cyan: hsl(184, 14%, 56%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-gray-cyan);
    font-family: 'Space Mono', monospace, sans-serif;
    font-weight: 700;
    color: var(--dark-gray-cyan);
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin: 1em 0;
    line-height: 1.4;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: 700;
    color: var(--very-dark-cyan);
}

.container {
    width: 100%;
    max-width: 800px;
    background-color: var(--white-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 1.5em;
}

.bill-calculator {
    background-color: var(--very-dark-cyan);
    padding: 1.5em;
    border-radius: 10px;
}

.input {
    width: 100%;
    padding: 10px 15px;
    margin-top: 5px;
    background-color: var(--very-light-gray-cyan);
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--very-dark-cyan);
    line-height: 20px;
    font-size: 24px;
    font-family: inherit;
    text-align: right;
}

.input:hover,
.input:focus {
    border: 1px solid var(--strong-cyan);
}

.custom {
    font-size: 15px;
}

.icon {
    transform: translate(20px, -40px);
    /* position: relative; */
}

.buttons-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 1em 0;
}

.btn {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--very-dark-cyan);
    margin: 5px 0 2px;
    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-accent {
    color:  var(--white-color);
    align-items: center;
}

.btn-reset {
    background-color: var(--strong-cyan);
    font-size: 18px;
    letter-spacing: 1px;
    color: var(--very-dark-cyan);
    margin: 1em 0;
}

.btn:hover,
.btn:focus {
    background-color: var(--light-gray-cyan);
    color: var(--very-dark-cyan);
}

.tip-person,
.total-person {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    line-height: 1.5;
    align-items: center;
}

.accent {
    color: var(--very-light-gray-cyan);
}

.value {
    font-size: 35px;
    color: var(--strong-cyan);
}

.flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error {
    font-size: 10px;
    color: crimson;
}

.hide {
    visibility: hidden;
}

@media (min-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }

    .inputs-container{
        width: 45%;
    }

    .bill-calculator {
        width: 50%;
    }

    .buttons-div {
        grid-template-columns: repeat(3, 1fr);
    }

    .bill-calculator {
        display: flex;
        flex-direction: column;
    }

    .btn-reset {
        margin-top: auto;
    }
}

